server:
  servlet:
    session:
      cookie:
        secure: true       # т.к. github.io всегда https
        same-site: none    # иначе браузер заблокирует куку

spring:
  application:
    name: habitus
  security:
    user:
      name: admin
      password: admin
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org:
      springframework:
        security: WARN
        web.filter.CommonsRequestLoggingFilter: DEBUG

springdoc:
  swagger-ui:
#    disable-swagger-default-url: true
    operationsSorter: method     # или alpha, method, none
    tagsSorter: alpha            # или alpha, none
